/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-spacer {
    display: block;
    width: 100%;
    clear: both;
    margin-top: 0 !important; 
    margin-bottom: 0 !important;
    height: var(--mobile-small-height, var(--mobile-medium-height), var(--tablet-height), var(--desktop-height));
}

@media (min-width: 480px) {
    .wp-block-spacer {
        height: var(--mobile-medium-height, var(--tablet-height), var(--desktop-height));
    }
}

@media (min-width: 767px) {
    .wp-block-spacer {
        height: var(--tablet-height, var(--desktop-height));
    }
}

@media (min-width: 1080px) {
    .wp-block-spacer {
        height: var(--desktop-height);
    }
}